{% extends 'base.html.twig' %}

{% block title %}Gallary - Travel Website{% endblock %}

{% block body %}
    <!-- Section Services End -->
    <section class="gallary" id="gallary">
        <div class="container">

            <div class="main-txt">
                <h1><span>G</span>allary</h1>
            </div>

            <div class="row" style="margin-top: 30px;">
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card">
                        <img src="./images/g1.png" alt="" height="230px">
                    </div>
                </div>
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card">
                        <img src="./images/g2.png" alt="" height="230px">
                    </div>
                </div>
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card">
                        <img src="./images/g3.png" alt="" height="230px">
                    </div>
                </div>
            </div>


            <div class="row" style="margin-top: 30px;">
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card">
                        <img src="./images/g4.png" alt="" height="230px">
                    </div>
                </div>
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card">
                        <img src="./images/g5.png" alt="" height="230px">
                    </div>
                </div>
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card">
                        <img src="./images/g6.png" alt="" height="230px">
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Section Gallary End -->

{% endblock %}