{% extends 'base.html.twig' %}

{% block title %}Packages - Travel Website{% endblock %}

{% block body %}
    <!-- Section Packages Start -->
    <section class="packages" id="packages">
        <div class="container">

            <div class="main-txt">
                <h1><span>P</span>ackages</h1>
            </div>

            <div class="row" style="margin-top: 30px;">

                <div class="col-md-4 py-3 py-md-0">

                    <div class="card">
                        <img src="./images/uk.png" alt="">
                        <div class="card-body">
                            <h3>United Kingdom</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, doloribus!</p>
                            <div class="star">
                                <i class="fa-solid fa-star checked"></i>
                                <i class="fa-solid fa-star checked"></i>
                                <i class="fa-solid fa-star checked"></i>
                                <i class="fa-solid fa-star "></i>
                                <i class="fa-solid fa-star "></i>
                            </div>
                            <h6>Price: <strong>$500</strong></h6>
                            <a href="#book">Book Now</a>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 py-3 py-md-0">

                    <div class="card">
                        <img src="./images/france.png" alt="">
                        <div class="card-body">
                            <h3>France</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, doloribus!</p>
                            <div class="star">
                                <i class="fa-solid fa-star checked"></i>
                                <i class="fa-solid fa-star checked"></i>
                                <i class="fa-solid fa-star checked"></i>
                                <i class="fa-solid fa-star "></i>
                                <i class="fa-solid fa-star "></i>
                            </div>
                            <h6>Price: <strong>$500</strong></h6>
                            <a href="#book">Book Now</a>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 py-3 py-md-0">

                    <div class="card">
                        <img src="./images/pakistan.png" alt="">
                        <div class="card-body">
                            <h3>Pakistan</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, doloribus!</p>
                            <div class="star">
                                <i class="fa-solid fa-star checked"></i>
                                <i class="fa-solid fa-star checked"></i>
                                <i class="fa-solid fa-star checked"></i>
                                <i class="fa-solid fa-star "></i>
                                <i class="fa-solid fa-star "></i>
                            </div>
                            <h6>Price: <strong>$500</strong></h6>
                            <a href="#book">Book Now</a>
                        </div>
                    </div>

                </div>



            </div>



            <div class="row" style="margin-top: 30px;">

                <div class="col-md-4 py-3 py-md-0">

                    <div class="card">
                        <img src="./images/italy.png" alt="">
                        <div class="card-body">
                            <h3>Italy</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, doloribus!</p>
                            <div class="star">
                                <i class="fa-solid fa-star checked"></i>
                                <i class="fa-solid fa-star checked"></i>
                                <i class="fa-solid fa-star checked"></i>
                                <i class="fa-solid fa-star "></i>
                                <i class="fa-solid fa-star "></i>
                            </div>
                            <h6>Price: <strong>$500</strong></h6>
                            <a href="#book">Book Now</a>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 py-3 py-md-0">

                    <div class="card">
                        <img src="./images/india.png" alt="">
                        <div class="card-body">
                            <h3>India</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, doloribus!</p>
                            <div class="star">
                                <i class="fa-solid fa-star checked"></i>
                                <i class="fa-solid fa-star checked"></i>
                                <i class="fa-solid fa-star checked"></i>
                                <i class="fa-solid fa-star "></i>
                                <i class="fa-solid fa-star "></i>
                            </div>
                            <h6>Price: <strong>$500</strong></h6>
                            <a href="#book">Book Now</a>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 py-3 py-md-0">

                    <div class="card">
                        <img src="./images/us.png" alt="">
                        <div class="card-body">
                            <h3>United States</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, doloribus!</p>
                            <div class="star">
                                <i class="fa-solid fa-star checked"></i>
                                <i class="fa-solid fa-star checked"></i>
                                <i class="fa-solid fa-star checked"></i>
                                <i class="fa-solid fa-star "></i>
                                <i class="fa-solid fa-star "></i>
                            </div>
                            <h6>Price: <strong>$500</strong></h6>
                            <a href="#book">Book Now</a>
                        </div>
                    </div>

                </div>



            </div>


        </div>
    </section>
    <!-- Section Packages End -->
    <!-- Section Packages End -->
{% endblock %}
